.prodIduct{
    display: flex;
    align-items: center;
    gap: 0px;
    color: #5e5e5e;
    font-size: 19px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
    margin: 50px 170px;
}
.prodIduct span{
    background: #949393;
    color: white;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
}